.gettingHelpWrapper {
    font-size: 16px;
    line-height: 20px;
    color: #3d3d3d; /* normal text color */
    padding: 0;
    margin-bottom: 92px;
}

.helpList {
    list-style: disc;
    margin-left: 20px;
    margin-bottom: 24px;
}

.helpList li {
    padding-bottom: 14px;
}

.space24 {
    height: 24px;
}

.helpLink {
    color: #007032;
    text-decoration: underline;
}

.gettingHelpWrapper p {
    padding-bottom: 16px;
}

.gettingHelpWrapper h2 {
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 16px;
}

.gettingHelpWrapper h3 {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;
}

.gettingHelpWrapper h4 {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 8px;
}

.gettingHelpWrapper h3 {
    font-size: 18px;
    line-height: 22px
}

.helpTopParagraph {
    margin-bottom: 16px;
}

.bulletListWrapper {
    padding-left: 16px;
}

.bulletListWrapper p {
    padding-bottom: 14px;
}


@media (max-width: 768px) {
    .gettingHelpWrapper {
        padding-left: 0px;
    }
    .gettingHelpWrapper {
        padding: 0;
    }
}
