/* src/components/ComponentDetailAppearance/ComponentDetailAppearance.module.css */
body {
    font-size: 16px;
    color: #3d3d3d;
}

p {
    font-size: 16px;
    line-height: 20px;
}

h1 {
    font-size: 40px; /* 40px */
    line-height: 44px;
    margin-bottom: 8px;
}

h2 {
    font-size: 24px; /* 34px */
    line-height: 28px;
    margin-bottom: 8px;
}

h3 {
    font-size: 18px; /* 26px */
    line-height: 20px;
    margin-bottom: 8px;
}

h4 {
    font-size: 16px;
    font-weight: bold;
}

.appearanceWrapper {
    /* Optional wrapper styling; up to you. */
    margin-bottom: 47px; /* for spacing after the section */
}

.appearanceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(311px, 1fr));
    /* Ensures each block is at least 311px wide. */
    gap: 27px;
}


.appearanceBlock {
    /* A simple container for each block; adjust as needed. */
    display: flex;
    flex-direction: column;
}

.appearanceImage {
    width: 311px;
    height: 246px;
    object-fit: contain;
    /* or you can rely on brand images being exactly 311x96 */
}

/* Stacks on small screens */
@media (max-width: 766px) {
    .appearanceGrid {
    }

    .appearanceImage {
        width: 100%;
    }
}