.componentTabsContainer {
    width: 100%;
    /* Remove position: relative if you had it */
}

.pinnedArea {
    /* Remove sticky/height/overflow */
    z-index: 0;
    display: flex;
    flex-direction: column;
    margin-bottom: 44px;
}

.banner {
    background-color: #fff;
    color: #000;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 48px 0px 0 32px;
}

.banner h1 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
}

.banner p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.tabBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    padding: 10px 18px 10px 62px;
    box-sizing: border-box;
    margin-top: 36px;
    flex: 0 0 40px;
    margin-left: -32px;
}

.tabButton {
    font-size: 14px;
    color: #5c5c5c;
    background: none;
    border: none;
    margin-right: 24px;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.tabButton:hover {
    color: #000;
}
.tabButton::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #007032;
    border-radius: 3px;
    transition: width 0.2s ease;
}
.tabButton:hover::after {
    width: 100%;
}
.active {
    color: #000;
    font-weight: 600;
}
.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #007032;
    border-radius: 3px;
}

.tabContent {
    /* REMOVE margin-left, height, overflow-y: auto */
    padding: 0 32px 24px;
    background-color: #fff;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 20px;
}


.tabContent::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

/* Best Practices blocks (do/don't) */
.bpBlock {
    background: #f8f8f8;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 28px;
}

.bpIconCircle {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    color: #fff;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}


@media (max-width: 768px) {
    .tabContent {margin-left:0;}
    .banner {padding: 48px 68px 0 30px;}
    .tabBar {padding: 0 32px 0 32px;}
}