.devTabsContainer {
    width: 100%;
}

/* No more position: sticky! */
.pinnedArea {
    /* Remove position, top, z-index, height, overflow, etc. */
    display: flex;
    flex-direction: column;
    background: #fff;
}

p a {
    color: #007032;
    text-decoration: underline;
}

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 48px 68px 40px 40px;
    box-sizing: border-box;
    width: 100%;
}

.banner h1 {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px;
}

.banner p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
}

.tabBar {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
    background-color: #fff;
    padding: 10px 18px 10px 36px;
    box-sizing: border-box;
    flex: 0 0 40px;
}

.tabButton {
    font-size: 14px;
    color: #5c5c5c;
    background: none;
    border: none;
    margin-right: 24px;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.tabButton:last-of-type {
    margin-right: 0;
}

.tabButton:hover {
    color: #000;
}
.tabButton::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: #007032;
    border-radius: 3px;
    transition: width 0.2s ease;
}
.tabButton:hover::after {
    width: 100%;
}
.active {
    color: #000;
    font-weight: 600;
}
.active::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #007032;
    border-radius: 3px;
}

.tabContent {
    /* Remove height and overflow-y, just use padding */
    padding: 35px 32px 24px;
    background-color: #fff;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    line-height: 44px;
}

h2 {
    font-size: 24px;
    line-height: 28px;
}

h3 {
    font-size: 18px;
    line-height: 28px;
}

/* Responsive: stack content */
@media (max-width: 786px) {
    .tabContent {
        margin-left: 0;
        padding: 35px 0px 24px;
    }
    .banner {
        padding: 14px 0px 0px 14px;
        width: 100%;
    }
    .tabBar {
        padding: 0;
    }
    .banner p {
        font-size: 14px;
        line-height: 20px;
        margin: 0 0 20px 0;
    }
}