/**
 * @tokens Accordion (Anthem)
 * @presenter Color
 */
 :root {
    /* Accordion icons */
    --semantic-accordion-icon-default: #286ce2;
    --semantic-accordion-icon-hover: #2453a6;
  
    /* Accordion text */
    --semantic-accordion-text-title: #333333;
    --semantic-accordion-text-content: #333333;
    --semantic-accordion-text-description: #666666;
  
    /* Accordion backgrounds */
    --semantic-accordion-bg-default: #ffffff;
    --semantic-accordion-bg-hover: #f7f7f7;
  }
  