/**
 * @tokens Alert (Anthem)
 * @presenter Color
 */
 :root {
    /* Alert text */
    --semantic-alert-text-default: #333333;
    --semantic-alert-text-link:    #286ce2;
  
    /* Alert background */
    --semantic-alert-surface-background: #ffffff;
  
    /* Alert inner shadow colors */
    --semantic-alert-shadow-error:   #cb0042;
    --semantic-alert-shadow-info:    #286ce2;
    --semantic-alert-shadow-success: #0c7905;
    --semantic-alert-shadow-urgent:  #a35c00;
  
    /* Alert border */
    --semantic-alert-border-default: #cccccc;
  
    /* Alert icons */
    --semantic-alert-icon-error:   #cb0042;
    --semantic-alert-icon-info:    #286ce2;
    --semantic-alert-icon-success: #0c7905;
    --semantic-alert-icon-urgent:  #a35c00;
    --semantic-alert-icon-dismiss: #666666;
  }
  