/**
 * @tokens Badge (Anthem)
 * @presenter Color
 */
:root {
    --semantic-badge-text-white: #ffffff;
    --semantic-badge-text-gray: #333333;
    --semantic-badge-bg-success: #0c7905;
    --semantic-badge-bg-info: #286ce2;
    --semantic-badge-bg-warning: #a35c00;
    --semantic-badge-bg-optionalWhite: #ffffff;
    --semantic-badge-bg-optionalGray: #f7f7f7;
    --semantic-badge-bg-urgent: #cb0042;
    --semantic-badge-bg-darkNeutral: #37475a;
    --semantic-badge-bg-purple: #511284;
}
