/**
 * @tokens BarGraph (Anthem)
 * @presenter Color
 */
:root {
    --semantic-bg-text-standard: #333333;
    --semantic-bg-text-timeline: #333333;
    --semantic-bg-text-milestone: #333333;
    --semantic-bg-standard-bar1: #2453a6;
    --semantic-bg-standard-bar2: #0092fa;
    --semantic-bg-standard-bar3: #0c7905;
    --semantic-bg-standard-bar4: #cb2a73;
    --semantic-bg-standard-bar5: #511284;
    --semantic-bg-standard-total: #f7f7f7;
    --semantic-bg-timeline-progress: #2453a6;
    --semantic-bg-timeline-total: #f7f7f7;
    --semantic-bg-timeline-marker: #ffffff;
    --semantic-br-timeline-total: #878787;
    --semantic-br-timeline-markerBlue: #2453a6;
    --semantic-br-timeline-markerGray: #878787;
    --semantic-bg-milestone-bar1: #2453a6;
    --semantic-bg-milestone-bar2: #0092fa;
    --semantic-bg-milestone-bar3: #0c7905;
    --semantic-bg-milestone-total: #f7f7f7;
    --semantic-bg-milestone-marker: #ffffff;
    --semantic-bg-milestone-legend1: #2453a6;
    --semantic-bg-milestone-legend2: #0092fa;
    --semantic-bg-milestone-legend3: #0c7905;
    --semantic-br-milestone-marker1: #2453a6;
    --semantic-br-milestone-marker2: #0092fa;
    --semantic-br-milestone-marker3: #0c7905;
    --semantic-br-milestone-marker4: #878787;
    --semantic-br-milestone-total: #878787;
    --semantic-br-standard-total: #878787;
}
