/**
 * @tokens ButtonGroup (Anthem)
 * @presenter Color
 */
:root {
    --semantic-btg-bg-container: #ffffff;
    --brand-btg-dropshadow-bg: var(--primitives-button-group-drop-shadow-background, #000000);
    --brand-btg-dropshadow-y: var(--primitives-button-group-drop-shadow-y, 5px);
}
