/**
 * @tokens Button (Anthem)
 * @presenter Color
 */
:root {
    --semantic-surface-primary: #286ce2;
    --semantic-surface-secondary: #2453a6;
    --semantic-surface-press: #131331;
    --semantic-surface-white: #ffffff;
    --semantic-surface-subdued: #666666;
    --semantic-border-primary: #286ce2;
    --semantic-border-white: #ffffff;
    --semantic-text-white: #ffffff;
    --semantic-text-primary: #286ce2;
    --semantic-icon-white: #ffffff;
    --semantic-icon-primary: #286ce2;
}
