/**
 * @tokens Checkbox (Anthem)
 * @presenter Color
 */
:root {
    --semantic-text-default: #333333;
    --semantic-text-errorMessage: #cb0042;
    --semantic-text-hover: #333333;
    --semantic-text-focus: #333333;
    --semantic-text-disabled: #333333;
    --semantic-text-error: #333333;
    --semantic-bg-checked-default: #286ce2;
    --semantic-bg-checked-hover: #2453a6;
    --semantic-bg-checked-focus: #286ce2;
    --semantic-bg-checked-disabled: #286ce2;
    --semantic-bg-checked-error: #cb0042;
    --semantic-bg-unchecked-default: #ffffff;
    --semantic-bg-unchecked-hover: #ffffff;
    --semantic-bg-unchecked-focus: #ffffff;
    --semantic-bg-unchecked-disabled: #ffffff;
    --semantic-bg-unchecked-error: #ffffff;
    --semantic-border-checked-focus: #286ce2;
    --semantic-border-unchecked-default: #666666;
    --semantic-border-unchecked-hover: #286ce2;
    --semantic-border-unchecked-focus: #666666;
    --semantic-border-unchecked-disabled: #666666;
    --semantic-border-unchecked-error: #cb0042;
    --semantic-border-unchecked-focusActive: #286ce2;
    --semantic-icon-default: #ffffff;
    --semantic-icon-error: #cb0042;
}
