/**
 * @tokens Dropdown (Anthem)
 * @presenter Color
 */
:root {
    --semantic-dd-bg-input: #ffffff;
    --semantic-dd-bg-item: #ffffff;
    --semantic-dd-bg-item-hover: #286ce2;
    --semantic-dd-border-default: #666666;
    --semantic-dd-border-focus: #286ce2;
    --semantic-dd-border-error: #cb0042;
    --semantic-dd-border-active: #286ce2;
    --semantic-dd-text-input: #333333;
    --semantic-dd-text-item: #333333;
    --semantic-dd-text-item-hover: #ffffff;
    --semantic-dd-text-label: #333333;
    --semantic-dd-text-optional: #666666;
    --semantic-dd-text-placeholder: #666666;
    --semantic-dd-icon-default: #333333;
    --semantic-dd-icon-error: #cb0042;
    --semantic-dd-icon-tooltip: #286ce2;
}
