/**
 * @tokens LeftNav (Anthem)
 * @presenter Color
 */
:root {
    --semantic-ln-text-internalLink: #286ce2;
    --semantic-ln-text-menuItem-inactive: #286ce2;
    --semantic-ln-text-menuItem-active: #333333;
    --semantic-ln-text-link-noAccordion: #333333;
    --semantic-ln-text-link-accordion: #333333;
    --semantic-ln-text-link-active: #286ce2;
    --semantic-ln-text-link-expand: #333333;
    --semantic-ln-text-sectionHeader: #333333;
    --semantic-ln-text-header-title-inactive: #333333;
    --semantic-ln-text-header-title-active: #333333;
    --semantic-ln-text-header-title-expand: #333333;
    --semantic-ln-text-header-description-inactive: #666666;
    --semantic-ln-text-header-description-active: #666666;
    --semantic-ln-text-header-description-expand: #666666;
    --semantic-ln-icon-internalLink: #286ce2;
    --semantic-ln-icon-link-accordion: #286ce2;
    --semantic-ln-icon-link-expand: #286ce2;
    --semantic-ln-icon-header-inactive: #286ce2;
    --semantic-ln-icon-header-active: #286ce2;
    --semantic-ln-icon-header-expand: #286ce2;
    --semantic-ln-bg-menuItem-active: #ffffff;
    --semantic-ln-bg-link-link: #ffffff;
    --semantic-ln-bg-header-expand: #ffffff;
    --semantic-ln-bg-header-inactive: #ffffff;
    --semantic-ln-bg-header-active: #ffffff;
    --semantic-ln-bg-header-arrow-active: #ffffff;
    --semantic-ln-bg-header-arrow-expand: #ffffff;
    --semantic-ln-border-header-active: #286ce2;
    --semantic-ln-border-header-expand: #286ce2;
}
