/**
 * @tokens Link (Anthem)
 * @presenter Color
 */
:root {
    --semantic-link-text-primary: #286ce2;
    --semantic-link-text-secondary: #2453a6;
    --semantic-link-text-press: #131331;
    --semantic-link-text-white: #ffffff;
    --semantic-link-icon-base: #666666;
    --semantic-link-icon-white: #ffffff;
    --semantic-link-border-primary: #286ce2;
    --semantic-link-border-white: #ffffff;
}
