/**
 * @tokens PageHeader (Anthem)
 * @presenter Color
 */
:root {
    --semantic-ph-fill-standard-linkWindow: #ffffff;
    --semantic-ph-fill-standard-memberTab: #ffffff;
    --semantic-ph-bgA-fill: #286ce2;
    --semantic-ph-bgB-fill: #286ce2;
    --semantic-ph-border-searchBeta: #ffffff;
    --semantic-ph-border-standardSearch: #ffffff;
    --semantic-ph-border-members-memberTab: #ffffff;
    --semantic-ph-text-welcomeDashboard: #ffffff;
    --semantic-ph-text-standard-memberActive: #286ce2;
    --semantic-ph-text-standard-memberInactive: #ffffff;
}
