/**
 * @tokens ProgressBar (Anthem)
 * @presenter Color
 */
:root {
    --semantic-pb-fill-complete-primary: #2453a6;
    --semantic-pb-fill-complete-success: #0c7905;
    --semantic-pb-fill-line-primary: #2453a6;
    --semantic-pb-fill-line-inactive: #878787;
    --semantic-pb-fill-line-success: #0c7905;
    --semantic-pb-border-current-primary: #2453a6;
    --semantic-pb-border-current-success: #0c7905;
    --semantic-pb-border-inactive: #878787;
    --semantic-pb-text-inactive: #666666;
    --semantic-pb-text-active-primary: #2453a6;
    --semantic-pb-text-active-success: #0c7905;
    --semantic-pb-icon-complete: #ffffff;
}
