/**
 * @tokens Radio (Anthem)
 * @presenter Color
 */
:root {
    --semantic-radio-text-default: #333333;
    --semantic-radio-text-hover: #333333;
    --semantic-radio-text-focus: #333333;
    --semantic-radio-text-disabled: #333333;
    --semantic-radio-text-errorMessage: #cb0042;
    --semantic-radio-text-error: #333333;
    --semantic-radio-icon-error: #cb0042;
    --semantic-radio-bg-input-default: #ffffff;
    --semantic-radio-bg-input-hover: #ffffff;
    --semantic-radio-bg-input-focus: #ffffff;
    --semantic-radio-bg-input-disabled: #ffffff;
    --semantic-radio-bg-input-error: #ffffff;
    --semantic-radio-border-input-default: #666666;
    --semantic-radio-border-input-hover: #286ce2;
    --semantic-radio-border-input-focusSelected: #286ce2;
    --semantic-radio-border-input-disabled: #666666;
    --semantic-radio-border-input-error: #cb0042;
    --semantic-radio-border-input-focusActive: #286ce2;
    --semantic-radio-border-input-focus: #666666;
    --semantic-radio-border-input-hoverSelected: #2453a6;
    --semantic-radio-fill-input-default: #286ce2;
    --semantic-radio-fill-input-hover: #2453a6;
    --semantic-radio-fill-input-focus: #286ce2;
    --semantic-radio-fill-input-disabled: #286ce2;
    --semantic-radio-fill-input-error: #cb0042;
}
