/**
 * @tokens SectionHeader (Anthem)
 * @presenter Color
 */
:root {
    --semantic-sh-divider-default: #53b1ac;
    --semantic-sh-divider-compounded: #53b1ac;
    --semantic-sh-divider-subheaderLg: #53b1ac;
    --semantic-sh-divider-subheaderSm: #53b1ac;
    --semantic-sh-text-header-default: #333333;
    --semantic-sh-text-header-compounded: #333333;
    --semantic-sh-text-header-subheaderLg: #333333;
    --semantic-sh-text-header-subheaderSm: #666666;
    --semantic-sh-text-desc-default: #666666;
    --semantic-sh-text-desc-compounded: #666666;
}
