/**
 * @tokens SlideIn (Anthem)
 * @presenter Color
 */
:root {
    --semantic-slidein-bg-card: #ffffff;
    --semantic-slidein-bg-backArrow: #f7f7f7;
    --semantic-slidein-icon-backArrow: #286ce2;
    --semantic-slidein-text-header: #333333;
    --semantic-slidein-text-content: #333333;
    --brand-slidein-bg-overlay: #ffffff;
    --brand-slidein-border-card: #ffffff;
    --brand-slidein-width-overlay: var(--primitives-slide-in-width-overlay, 636px);
    --brand-slidein-width-card: var(--primitives-slide-in-width-card, 804px);
    --brand-slidein-width-cardContent: var(--primitives-slide-in-width-card-content, 552px);
    --brand-slidein-padding-right-buttonGroup: var(--primitives-slide-in-padding-right-button-group, 156px);
}
