/**
 * @tokens Tabs (Anthem)
 * @presenter Color
 */
:root {
    --semantic-tab-text-minimal-inactive: #333333;
    --semantic-tab-text-minimal-active: #286ce2;
    --semantic-tab-text-minimal-hover: #2453a6;
    --semantic-tab-text-minimal-disabled: #333333;
    --semantic-tab-text-minimal-focusActive: #286ce2;
    --semantic-tab-text-minimal-focusInactive: #333333;
    --semantic-tab-text-minimal-press: #333333;
    --semantic-tab-text-text-active: #ffffff;
    --semantic-tab-text-text-inactive: #286ce2;
    --semantic-tab-text-text-hover: #ffffff;
    --semantic-tab-text-text-focusActive: #ffffff;
    --semantic-tab-text-text-focusInactive: #286ce2;
    --semantic-tab-text-text-press: #ffffff;
    --semantic-tab-icon-minimal-active: #286ce2;
    --semantic-tab-icon-minimal-inactive: #666666;
    --semantic-tab-icon-minimal-hover: #2453a6;
    --semantic-tab-icon-minimal-activeFocus: #286ce2;
    --semantic-tab-icon-minimal-inactiveFocus: #666666;
    --semantic-tab-icon-minimal-press: #333333;
    --semantic-tab-border-minimal-active: #286ce2;
    --semantic-tab-border-minimal-inactive: #666666;
    --semantic-tab-border-minimal-hover: #2453a6;
    --semantic-tab-border-minimal-focus: #286ce2;
    --semantic-tab-border-minimal-press: #000000;
    --semantic-tab-border-pointer-inactive: #286ce2;
    --semantic-tab-border-pointer-focus: #286ce2;
    --semantic-tab-border-pointer-gap-focus: #ffffff;
    --semantic-tab-bg-pointer-arrow-active: #286ce2;
    --semantic-tab-bg-pointer-arrow-focus: #286ce2;
    --semantic-tab-bg-pointer-active: #286ce2;
    --semantic-tab-bg-pointer-inactive: #ffffff;
    --semantic-tab-bg-pointer-hover: #2453a6;
    --semantic-tab-bg-pointer-activeFocus: #286ce2;
    --semantic-tab-bg-pointer-inactiveFocus: #ffffff;
    --semantic-tab-bg-pointer-focusContainer: #ffffff;
    --semantic-tab-bg-pointer-press: #131331;
}
