/**
 * @tokens TextColors (Anthem)
 * @presenter Color
 */
:root {
    --semantic-tc-text-darkGray: #333333;
    --semantic-tc-text-lightGray: #666666;
    --semantic-tc-text-white: #ffffff;
    --semantic-tc-text-primary: #286ce2;
    --semantic-tc-text-error: #cb0042;
    --semantic-tc-text-pending: #a35c00;
    --semantic-tc-text-success: #0c7905;
}
