/**
 * @tokens TextField (Anthem)
 * @presenter Color
 */
:root {
    --semantic-icon-white: #ffffff;
    --semantic-icon-base: #666666;
    --semantic-icon-primary: #286ce2;
    --semantic-icon-critical: #cb0042;
    --semantic-icon-urgent: #a35c00;
    --semantic-icon-positive: #0c7905;
    --semantic-icon-info: #286ce2;
    --semantic-icon-subdued: #cccccc;
    --semantic-icon-active: #333333;
    --semantic-border-urgent: #a35c00;
    --semantic-border-base: #666666;
    --semantic-border-active: #286ce2;
    --semantic-border-critical: #cb0042;
    --semantic-border-positive: #0c7905;
    --semantic-text-label: #333333;
    --semantic-text-placeholder: #666666;
    --semantic-text-input: #333333;
    --semantic-text-critical: #333333;
    --semantic-text-urgent: #333333;
    --semantic-text-positive: #333333;
    --semantic-text-info: #286ce2;
    --semantic-text-help: #333333;
    --semantic-text-guidance: #666666;
    --semantic-text-help2: #333333;
    --semantic-surface-background: #ffffff;
}
