/**
 * @tokens Toggle (Anthem)
 * @presenter Color
 */
:root {
    --semantic-toggle-fill-on-default: #286ce2;
    --semantic-toggle-fill-on-hover: #2453a6;
    --semantic-toggle-fill-on-focus: #286ce2;
    --semantic-toggle-fill-on-error: #286ce2;
    --semantic-toggle-fill-on-disabled: #286ce2;
    --semantic-toggle-fill-off-default: #666666;
    --semantic-toggle-fill-off-hover: #333333;
    --semantic-toggle-fill-off-focus: #666666;
    --semantic-toggle-fill-off-error: #666666;
    --semantic-toggle-fill-off-disabled: #666666;
    --semantic-toggle-fill-handle: #ffffff;
    --semantic-toggle-text-state-on: #ffffff;
    --semantic-toggle-text-state-off: #f7f7f7;
    --semantic-toggle-text-label: #333333;
    --semantic-toggle-text-error: #cb0042;
    --semantic-toggle-icon-error: #cb0042;
    --semantic-toggle-border-focus: #286ce2;
}
