/**
 * @tokens Tooltip (Anthem)
 * @presenter Color
 */
:root {
    --semantic-tt-icon-close: #666666;
    --semantic-tt-icon-help-hover: #2453a6;
    --semantic-tt-icon-help-rest: #286ce2;
    --semantic-tt-text: #666666;
    --semantic-tt-bg: #ffffff;
    --semantic-tt-border-hover: #2453a6;
}
