:root {
    --primitives-wellpoint-font-family-member: ElevanceSans;
    --semantic-wellpoint-surface-primary: #1a3673;
    --semantic-wellpoint-surface-secondary: #231e33;
    --semantic-wellpoint-surface-press: #231e33;
    --semantic-wellpoint-surface-button-section-header: #d91754;
    --semantic-wellpoint-surface-badge-dark-neutral: #231e33;
    --semantic-wellpoint-surface-badge-purple: #972461;
    --semantic-wellpoint-surface-hover: #ab0036;
    --semantic-wellpoint-surface-white: #ffffff;
    --semantic-wellpoint-surface-container-gray: #f7f7f7;
    --semantic-wellpoint-surface-mid-gray: #878787;
    --semantic-wellpoint-surface-subdued: #666666;
    --semantic-wellpoint-surface-toggle-hover-off: #333333;
    --semantic-wellpoint-surface-info: #1a3673;
    --semantic-wellpoint-surface-positive: #0c7905;
    --semantic-wellpoint-surface-urgent: #a35c00;
    --semantic-wellpoint-surface-critical: #cb0042;
    --semantic-wellpoint-surface-data-viz100: #1a3673;
    --semantic-wellpoint-surface-data-viz200: #8c96a2;
    --semantic-wellpoint-surface-data-viz300: #972461;
    --semantic-wellpoint-surface-data-viz400: #d91754;
    --semantic-wellpoint-surface-data-viz500: #2a9ed9;
    --semantic-wellpoint-border-primary: #1a3673;
    --semantic-wellpoint-border-secondary: #231e33;
    --semantic-wellpoint-border-link: #2e5cc0;
    --semantic-wellpoint-border-white: #ffffff;
    --semantic-wellpoint-border-subdued: #cccccc;
    --semantic-wellpoint-border-mid-gray: #878787;
    --semantic-wellpoint-border-base: #666666;
    --semantic-wellpoint-border-black: #000000;
    --semantic-wellpoint-border-info: #1a3673;
    --semantic-wellpoint-border-positive: #0c7905;
    --semantic-wellpoint-border-urgent: #a35c00;
    --semantic-wellpoint-border-error: #cb0042;
    --semantic-wellpoint-text-primary: #1a3673;
    --semantic-wellpoint-text-secondary: #231e33;
    --semantic-wellpoint-text-link: #2e5cc0;
    --semantic-wellpoint-text-press: #231e33;
    --semantic-wellpoint-text-white: #ffffff;
    --semantic-wellpoint-text-toggle-off: #f7f7f7;
    --semantic-wellpoint-text-subdued: #666666;
    --semantic-wellpoint-text-base: #333333;
    --semantic-wellpoint-text-info: #1a3673;
    --semantic-wellpoint-text-positive: #0c7905;
    --semantic-wellpoint-text-urgent: #a35c00;
    --semantic-wellpoint-text-critical: #cb0042;
    --semantic-wellpoint-icon-primary: #1a3673;
    --semantic-wellpoint-icon-secondary: #231e33;
    --semantic-wellpoint-icon-tab: #2e5cc0;
    --semantic-wellpoint-icon-white: #ffffff;
    --semantic-wellpoint-icon-subdued: #cccccc;
    --semantic-wellpoint-icon-base: #666666;
    --semantic-wellpoint-icon-active: #333333;
    --semantic-wellpoint-icon-info: #1a3673;
    --semantic-wellpoint-icon-positive: #0c7905;
    --semantic-wellpoint-icon-urgent: #a35c00;
    --semantic-wellpoint-icon-critical: #cb0042;
    --primitives-colors-grays-100: #f7f7f7;
    --primitives-colors-grays-200: #e5e5e5;
    --primitives-colors-grays-300: #cccccc;
    --primitives-colors-grays-400: #878787;
    --primitives-colors-grays-500: #666666;
    --primitives-colors-grays-600: #333333;
    --primitives-colors-gray-100-2: #ebebeb;
    --primitives-colors-grays-700: #000000;
    --primitives-font-size-xs: 10px;
    --primitives-font-size-2xs: 12px;
    --primitives-line-height-xs: 16px;
    --primitives-line-height-2xs: 18px;
    --primitives-line-height-sm: 22px;
    --primitives-line-height-base: 24px;
    --primitives-line-height-lg: 28px;
    --primitives-line-height-xl: 30px;
    --primitives-line-height-2xl: 34px;
    --primitives-line-height-3xl: 36px;
    --primitives-line-height-4xl: 40px;
    --primitives-line-height-5xl: 46px;
    --primitives-line-height-6xl: 48px;
    --primitives-line-height-7xl: 54px;
    --primitives-line-height-8xl: 60px;
    --primitives-line-height-9xl: 72px;
    --primitives-line-height-10xl: 90px;
    --primitives-line-height-11xl: 108px;
    --primitives-line-height-12xl: 144px;
    --primitives-line-height-13xl: 192px;
    --primitives-font-size-sm: 14px;
    --primitives-font-size-base: 16px;
    --primitives-font-size-lg: 18px;
    --primitives-font-size-xl: 20px;
    --primitives-font-size-2xl: 22px;
    --primitives-font-size-3xl: 24px;
    --primitives-font-size-4xl: 26px;
    --primitives-font-size-5xl: 30px;
    --primitives-font-size-6xl: 32px;
    --primitives-font-size-7xl: 36px;
    --primitives-font-size-8xl: 40px;
    --primitives-font-size-9xl: 48px;
    --primitives-font-size-10xl: 60px;
    --primitives-font-size-11xl: 72px;
    --primitives-font-size-12xl: 96px;
    --primitives-font-size-13xl: 128px;
    --primitives-sizing-025: 1px;
    --primitives-sizing-050: 2px;
    --primitives-sizing-1: 4px;
    --primitives-sizing-150: 6px;
    --primitives-sizing-2: 8px;
    --primitives-sizing-250: 10px;
    --primitives-sizing-3: 12px;
    --primitives-sizing-350: 14px;
    --primitives-sizing-4: 16px;
    --primitives-sizing-5: 20px;
    --primitives-sizing-6: 24px;
    --primitives-sizing-7: 28px;
    --primitives-sizing-8: 32px;
    --primitives-sizing-9: 36px;
    --primitives-sizing-10: 40px;
    --primitives-sizing-11: 44px;
    --primitives-sizing-12: 48px;
    --primitives-sizing-14: 56px;
    --primitives-sizing-16: 64px;
    --primitives-sizing-20: 80px;
    --primitives-sizing-24: 96px;
    --primitives-sizing-28: 112px;
    --primitives-sizing-32: 128px;
    --primitives-sizing-36: 144px;
    --primitives-sizing-40: 160px;
    --primitives-sizing-44: 176px;
    --primitives-sizing-48: 192px;
    --primitives-sizing-52: 208px;
    --primitives-sizing-56: 224px;
    --primitives-sizing-60: 240px;
    --primitives-sizing-64: 256px;
    --primitives-sizing-72: 288px;
    --primitives-sizing-80: 320px;
    --primitives-sizing-96: 384px;
    --primitives-spacing-025: 1px;
    --primitives-spacing-050: 2px;
    --primitives-spacing-1: 4px;
    --primitives-spacing-150: 6px;
    --primitives-spacing-2: 8px;
    --primitives-spacing-250: 10px;
    --primitives-spacing-3: 12px;
    --primitives-spacing-350: 14px;
    --primitives-spacing-4: 16px;
    --primitives-spacing-5: 20px;
    --primitives-spacing-6: 24px;
    --primitives-spacing-7: 28px;
    --primitives-spacing-8: 32px;
    --primitives-spacing-9: 36px;
    --primitives-spacing-10: 40px;
    --primitives-spacing-11: 44px;
    --primitives-spacing-12: 48px;
    --primitives-spacing-14: 56px;
    --primitives-spacing-16: 64px;
    --primitives-spacing-20: 80px;
    --primitives-spacing-24: 96px;
    --primitives-spacing-28: 112px;
    --primitives-spacing-32: 128px;
    --primitives-spacing-36: 144px;
    --primitives-spacing-40: 160px;
    --primitives-spacing-44: 176px;
    --primitives-spacing-48: 192px;
    --primitives-spacing-52: 208px;
    --primitives-spacing-56: 224px;
    --primitives-spacing-60: 240px;
    --primitives-spacing-64: 256px;
    --primitives-spacing-72: 288px;
    --primitives-spacing-80: 320px;
    --primitives-spacing-96: 384px;
    --primitives-border-radius-rounded-sm: 2px;
    --primitives-border-radius-rounded: 4px;
    --primitives-border-radius-rounded-md: 6px;
    --primitives-border-radius-rounded-lg: 8px;
    --primitives-border-radius-rounded-xl: 12px;
    --primitives-border-radius-rounded-2xl: 16px;
    --primitives-border-radius-rounded-3xl: 24px;
    --primitives-border-radius-rounded-full: 9999px;
    --primitives-opacity-05: 5px;
    --primitives-opacity-10: 10px;
    --primitives-opacity-15: 15px;
    --primitives-opacity-20: 20px;
    --primitives-opacity-30: 30px;
    --primitives-opacity-35: 35px;
    --primitives-opacity-40: 40px;
    --primitives-opacity-45: 45px;
    --primitives-opacity-50: 50px;
    --primitives-opacity-55: 55px;
    --primitives-opacity-60: 60px;
    --primitives-opacity-65: 60px;
    --primitives-opacity-70: 70px;
    --primitives-opacity-75: 75px;
    --primitives-opacity-80: 80px;
    --primitives-opacity-85: 85px;
    --primitives-opacity-90: 90px;
    --primitives-opacity-95: 95px;
    --primitives-opacity-100: 100px;
    --primitives-button-padding-horizontal-small: 30px;
    --primitives-button-min-width-large: 120px;
    --primitives-button-height-small: 30px;
    --primitives-button-group-drop-shadow-background: #000000;
    --primitives-button-group-drop-shadow-y: -2px;
    --primitives-checkbox-padding-top-input: 3px;
    --primitives-checkbox-padding-top-error-icon: 3px;
    --primitives-container-min-width: 168px;
    --primitives-container-max-width: 1128px;
    --primitives-drop-shadows-background-light: #000000;
    --primitives-left-nav-width: 265px;
    --primitives-left-nav-padding-left-menu-item: 52px;
    --primitives-left-nav-padding-left-header-description: 52px;
    --primitives-left-nav-padding-right-header-title: 15px;
    --primitives-drop-shadows-background-medium: #000000;
    --primitives-drop-shadows-background-dark: #000000;
    --primitives-drop-shadows-y-light: 5px;
    --primitives-drop-shadows-y-medium: 5px;
    --primitives-drop-shadows-y-dark: 5px;
    --primitives-drop-shadows-blur-light: 12px;
    --primitives-drop-shadows-blur-medium: 17px;
    --primitives-drop-shadows-blur-dark: 50px;
    --primitives-page-header-background-a-gradient-1-100: #ffffff;
    --primitives-progress-bar-line-height-vertical: 150px;
    --primitives-progress-bar-line-width-horizontal: 150px;
    --primitives-progress-bar-line-min-width-horizontal: 124px;
    --primitives-progress-bar-text-max-width: 136px;
    --primitives-page-header-background-a-gradient-1-200: #6b6b6b;
    --primitives-page-header-background-a-gradient-1-300: #000000;
    --primitives-page-header-background-a-gradient-2-100: #ffffff;
    --primitives-page-header-background-a-gradient-2-200: #000000;
    --primitives-page-header-background-a-gradient-3-100: #ffffff;
    --primitives-page-header-background-a-gradient-3-200: #ffffff;
    --primitives-page-header-background-a-gradient-3-300: #000000;
    --primitives-page-header-background-a-gradient-4-100: #ffffff;
    --primitives-page-header-background-a-gradient-4-200: #ffffff;
    --primitives-page-header-background-b-wellpoint-gradient-1-100: #1a3673;
    --primitives-page-header-background-b-wellpoint-gradient-1-200: #1a3673;
    --primitives-page-header-background-b-wellpoint-gradient-2-100: #ffffff;
    --primitives-page-header-background-b-wellpoint-gradient-2-200: #ffffff;
    --primitives-page-header-background-b-wellpoint-gradient-3-100: #ffffff;
    --primitives-page-header-background-b-wellpoint-gradient-3-200: #ffffff;
    --primitives-radio-padding-top-error-icon: 3px;
    --primitives-section-header-padding-top-subheader-large: 3px;
    --primitives-slide-in-border-card: #000000;
    --primitives-slide-in-width-overlay: 636px;
    --primitives-slide-in-width-card: 804px;
    --primitives-slide-in-width-card-content: 552px;
    --primitives-slide-in-padding-right-button-group: 156px;
    --primitives-slide-in-background-overlay: #333333;
    --primitives-section-header-padding-top-subheader-small: 3px;
    --primitives-section-header-divider-width-default: 45px;
    --primitives-section-header-divider-width-compounded: 141px;
    --primitives-section-header-divider-width-subheader-large: 3px;
    --primitives-section-header-divider-width-subheader-small: 3px;
    --primitives-section-header-divider-height-subheader-large: 28px;
    --primitives-section-header-divider-height-subheader-small: 22px;
    --primitives-text-field-height-single-line: 44px;
    --primitives-text-field-height-multi-line: 82px;
    --primitives-text-field-width-min: 298px;
    --primitives-text-field-width-max: 596px;
    --primitives-tooltip-min-width: 190px;
    --primitives-tooltip-max-width: 340px;
    --primitives-wellpoint-font-weight-light: 300;
    --primitives-wellpoint-font-weight-regular: 400;
    --primitives-wellpoint-font-weight-medium: 500;
    --primitives-wellpoint-font-weight-semibold: 600;
    --primitives-wellpoint-font-weight-bold: 700;
}

.divider--wellpoint {
    --semantic-divider-fill-light: var(--semantic-wellpoint-border-subdued);
    --semantic-divider-fill-dark:  var(--semantic-wellpoint-border-base);
    --semantic-divider-fill-white: var(--semantic-wellpoint-border-white);
}